/* Parte superior Cabecera*/

  body {
    background-image: url('/assets/indexfondo.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  
  }
  
  @keyframes fadeIn {
      from { 
        opacity: 0; 
        transform: translateY(-20px); 
      }
      to { 
        opacity: 5; 
        transform: translateY(0); 
      }
    }

  @keyframes resize {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  